body{
  border: solid 4px grey;
  border-radius: 10px;
  padding:0;
  margin:0;
}

.App {
  width: 100%;
  display:flex;
  justify-content: center;
  text-align: center;
}

.Sinistra{
  flex:1;
  height: 100vh;
  border-right: solid 1.5px lightgray;
}

.Destra{
  flex:1;
  heigth: 100vh;
  border-left: solid 1.5px lightgray;
}


